<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Panchosky Web</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!-- ANIMATE.CSS -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- font awesome kiwix CSS -->
    <script src="https://kit.fontawesome.com/0062f581dc.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- Header -->
    <header class="header">
      <div class="header-content animated flash">
        <img src="img/logo.jpg" alt="Kiwix Logo" class="logo">
        <div class="title">
          Sitio Web de Panchosky
        </div>
        <div class="text">
          Donde puedes mirar esa majestuosa imagen del Carro Castillo en la Gran Patagonia Chilena, Saca tu mouse!
        </div>
      </div>
    </header>

    <!-- Services -->
    <div class="services text-center">
      <h3 class="title">Sobre mi</h3>
      <div class="container grid-3">
        <div>
          <i class="fas fa-ghost fa-5x"></i>
          <h3>Abducido</h3>
          <div>
            Persona abducida durante los campamentos Scouts.
          </div>
        </div>
        <div>
          <i class="fas fa-fighter-jet fa-5x"></i>
          <h3>Piloto de Caza</h3>
          <div>
            Trabajo junto a Luke Skywalker en la batalla de Yavin.
          </div>
        </div>
        <div>
          <i class="fab fa-jedi-order fa-5x"></i>
          <h3>Website</h3>
          <div>
            Estubo en la academia Jedi pero se retiro.
          </div>
        </div>
      </div>
    </div>

    <!-- About -->
    <section class="about bg-light">
      <div class="container text-center">
        <div class="grid-2">
          <div class="center">
            <i class="fab fa-steam fa-10x"></i>
          </div>
          <div>
            <h3 class="title">Mi Steam: Elkiwixhd</h3>
            <p>
              <span>Agregame para jugar, donde tambien estoy experimentando la Realidad Virtual</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <div class="grid-2">
          <div>
            <h3 class="title">Panchosky25</h3>
            <p>
              <span>Donde puedes seguir mi cuenta, y visitar todas las fotos que subo!.</span>
            </p>
          </div>
          <div class="center">
            <i class="fab fa-instagram fa-10x"></i>
          </div>
        </div>
      </div>  
    </section>

    <!-- Footer -->
    <footer class="text-center bg-light">
      <p>Kiwisaky Services  &copy; 2020 - All rights reserved</p>
    </footer>
    <script>
      var nombre = prompt("bienvenido humano, mi perro es terraplanista, y el tuyo?");
      document.write( nombre );
      console.log("ahh pues muy interesante.....")
  </script>

  </body>
</html>
